{{define "test"}}
{{template "head" .}}
{{template "header" .}}
<center>
<h3 >Noo! Algo esta sucediendo...</h3><br>
<h1>Error 500</h1><br>
<p style="width:80%">Tenemos un error en nuestro servidor, lo sentimos la web no esta funcionando como deberia por ahora,
mientras hechamos un vistazo e intentamos arreglarla, puedes esperar escuchando musica y jugando.</p>
<img width="50%" src="../assets/img/1.gif" alt="Bienvenid@"><br>
<audio src="../assets/files/burrito.mp3" autoplay="yes" controls></audio>
<br>

<div style="max-width:80%;">
<script src="https://cdn.htmlgames.com/embed.js?game=Pizzeria&amp;&amp;bgcolor=white"></script>
</div>
{{template "footer" .}}
{{ end }}

{{define "home"}}
{{template "head" .Datos}}
{{template "header" .Datos}}
<!-- {{template "carousel" .}}-->
{{template "FeatureCarouselCards" .}}
{{template "homepag" .}}
{{template "footer" .}}
{{ end }}
<!-- CATEGORIA POST POR -->
{{define "cat"}}
{{template "head" .}}
{{template "header" .}}
<!-- {{template "carousel" .}}-->
<!-- {{template "FeatureCarouselCards" .}}-->
{{template "catlist" .}}
{{template "footer" .}}
{{ end }}
<!-- SINGLE NEW-->
{{define "singlenew"}}
{{template "head" .}}
{{template "header" .}}
<!-- {{template "carousel" .}}-->
<!-- {{template "FeatureCarouselCards" .}}-->
{{template "headersinglenew" .}}
{{template "singlenewtemp" .}}
{{template "comments" .}}
{{template "footer" .}}
{{ end }}
